@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-hover: var(--hover);
  --color-theme: var(--theme);
  --color-myText: var(--text);
  --color-myGray: var(--gray);
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
  --shadow-ma: 4px 4px 0 var(--sh);
  --grid-template-columns-mazin: repeat(auto-fit, minmax(220px, 1fr));
}

:root {
  --hover: #fcf4ff;
  --theme: #ffffff;
  --text: #000;
  --sh: #000;
  --gray: #364153;
}

.dark {
  --hover: #2a004a;
  --theme: #11001f;
  --text: #fff;
  --sh: #fff;
  --gray: #d1d5dc;
}

::selection {
  background-color: #6800b7;
  color: #fff;
}

/* Custom Scrollbar Styles */
@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--gray) transparent;
  }

  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(160, 123, 161, 0.4);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: rgba(104, 0, 183, 0.5);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(160, 123, 161, 0.8);
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(104, 0, 183, 0.8);
  }
}
